.container_1 {

  width: 100vw;
  background: url("../img/container_1.png");
  background-position: center;
  background-size: cover;
}

.intro-box {
  @include span-columns(6 of 12);
  @include shift(6);
  background-color: $purple;
  margin-top: 55vh;
  transform: translateY(-50%);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  color: $light-purple;
  h1 {
    margin: 0;
    line-height: 1em;
    text-transform: uppercase;
    @media #{$break-tablet} {
      font-size: 3em;
    }
  }
  h3 {
    font-family: $subheader-font;
    font-size: 1.5em;
  }
  @media #{$break-tablet} {
    @include span-columns(7 of 12);
    @include shift(5);
  }
}

.button-container {
  box-sizing: border-box;
  margin-top: 10px;
  width: 320px;
  @include centerX;
}

#give-a-gift {
  @include button-small;
  margin-right: 20px;
}

#get-started {
  @include button-small(black);
}
