.container_3 {
  width: 100vw;
  background-image: url("../img/container_3.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 65%;
  @media #{$break-tablet} {
    background-size: 130%;
  }
}

.learn-box {
  @include span-columns(6 of 12);
  background-color: $purple;
  border-radius: 15px;
  box-sizing: border-box;
  margin-top: 50vh;
  transform: translateY(-50%);
  padding: 20px;
  color: $light-purple;
  h1 {
    margin: 0;
    line-height: 1em;
    text-transform: uppercase;
  }
  h3 {
    font-family: $subheader-font;
    font-size: 1.3em;
    margin: 0;
  }
  button {
    @include button-small(black);
    margin-left: 50%;
    transform: translateX(-50%);
  }
  @media #{$break-tablet} {
    @include shift(6);
  }
}
