.body {
  position: relative;
}

.container-content {
  @include outer-container;
  padding: 0 20px;
}

p {
  margin: 10px 0;
  line-height: 1.4em;
  @media #{$break-phone} {
    line-height: 1.1em;
    font-size: 0.9em;
  }
}
