div, p, button, li, a {
  font-family: $main-font;
}

p {
  font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-family: $header-font;
  text-transform: uppercase;
  font-size: 3em;
}

h3 {
  font-family: $subheader-font;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}
