$light-purple: #ddb3e8;
$purple: #673056;

$header-font: 'Passion One', impact, sans-serif;
$subheader-font: 'Georgia', 'Times New Roman', serif;
$main-font: 'PT Sans', helvetica, arial, sans-serif;

$break-tablet: "screen and (max-width: 820px)";
$break-phone: "screen and (max-width: 460px)";
